body{
    background-color: rgb(78, 78, 78)
}

H1{
    font-size: 60px;
    font-style: italic;
    text-shadow: black;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

#calculadora{
    font-size: 36px;
    font-style: italic;
    color: white;
    text-decoration: underline 1px whitesmoke;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}